<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<!-- <typeAlias type="com.inc.vo.BookVo" alias="bvo"/> -->
  	<package name="com.inc.dayary.domain"/>
  </typeAliases>
  <mappers>
  	<mapper resource="mybatis/mapper/diary.xml"></mapper>
  </mappers>
</configuration>








